<footer class="footer row justify-content-center justify-content-lg-between">
  <small>
    The <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    by <a href="http://www.michaelhartl.com/">Michael Hartl</a>
  </small>
  <nav>
    <ul class="nav justify-content-end">
      <li class="nav-item"><%= link_to "About", about_path %></li>
      <li class="nav-item"><%= link_to "Contact", contact_path %></li>
      <li class="nav-item"><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>
